html, body {
  margin : 0; 
  scroll-behavior: smooth;
}

footer {
  color : black;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 2px;
  text-align: center; 
  font-size: 12px;
}

.box {
  box-shadow: rgba(106, 106, 139, 0.649) 0px 1px 3px, rgba(0, 0, 0, 0.01) 0px 1px 0px;
  padding: 1em;
  margin: 1em;
}

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  padding: 1em;
  font-size: 14px;
}

.nav a {
  color: black;
  text-decoration: none;
}

.link {
  color: black;
  text-decoration: none;
}

.nav1a {
  text-align: left;
  margin: 0 10vw;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 2px;
  color : black;
  font-weight: bold;
}

.homesearch {
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 2px;
  color : black;
  font-weight: bold;
}

.nav1b {
  margin-right: 10vw;
  display: flex;
  justify-content: flex-end;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 2px;
  color : black;
  font-weight: bold;
}
.nav1c{
  padding-left: 50px;
}

.nav1d{
  padding-left: 50px;
}

.nav1e{
  padding-left: 50px;
}

.membersDropdown {
  display : none;
}

.nav1b > .nav1d:hover .membersDropdown {
  display : block;
  z-index : 1;
  position : absolute; 
  background-color: white;
  border: 1px solid rgb(212, 212, 212);
  padding: 0.5em;
  text-align: left;
}

nav {
  margin: 1em 10vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-around;
  padding: 1em 0;
  text-align: center;
}

nav a {
  color : black;
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 2px;
  font-weight: bold;
  padding: 1em 0;
}

.dropdown-content {
  display: none;
  z-index:1;
  position : absolute; 
  background-color: white;
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; */
  margin: 0 1vw;
  padding: 1em;
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 2px;
  color : black;
  font-weight: bold;
  box-shadow: rgba(106, 106, 139, 0.649) 0px 1px 3px, rgba(0, 0, 0, 0.01) 0px 1px 0px;
}

nav > .dropdown:hover .dropdown-content {
  display: block;
}

.content {
  margin: 0 10vw;
  min-height: 80vh;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 2px;
  color: rgb(43, 43, 43);
}

header {
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 7px; 
  font-size: 3vh;
  font-weight: normal;
  color: rgb(43, 43, 43);
  text-align: center;
}

header h2 {
  font-weight: normal;
}

.headerbox {
  box-shadow: rgba(174, 174, 194, 0.649) 0px 1px 3px, rgba(0, 0, 0, 0.01) 0px 1px 0px;
  margin-left: 5vw;
  margin-right: 5vw;
  padding: 1em;
}

.otherpages {
  text-align: left;
}

.discoverimage {
  text-align: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
  background-image: linear-gradient(rgba(0, 0, 0,0), rgba(0, 0, 0,0) ), url(images/animals/tapir.png);
  background-size: 30vh;
}

.lrg {
  font-size: 9vh;
}

.splash {
	background-repeat: no-repeat;
	background-size: cover;
  background-position: top right;
	background-image: linear-gradient(rgba(0, 0, 0,0), rgba(0, 0, 0,0) ), url(images/animals/rhea-home.png);
  background-size: 30vh;
}

input {
  /* width: 200px; */
  font-size: 1em;
  box-shadow: rgba(174, 174, 194, 0.649) 0px 1px 3px, rgba(0, 0, 0, 0.0198) 0px 1px 0px;
  border: 0;
  outline: 0;
  border-radius: 4px;
  background: white;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 2px;
}

.welcome {
  font-size: 16px;
}

.othertext {
  font-size: 18px;
  letter-spacing: 1.5px;
}

button {
  background-color: white;
  box-shadow: rgba(174, 174, 194, 0.649) 0px 1px 3px, rgba(0, 0, 0, 0.0198) 0px 1px 0px;
  padding: 5px 20px;
}

button a {
  color: black;
  text-decoration: none;
}

.homesearch input {
  width: 240px;
}

.homesignup input {
  padding: 10px 14px;
}

.HomeCTAContainer {
  display : grid;
  grid-template-columns: 1fr 1fr 1fr;
  box-shadow: rgba(174, 174, 194, 0.649) 0px 1px 3px, rgba(0, 0, 0, 0.0198) 0px 1px 0px;
  margin-top: 2em;
}

.BOMcontent {
  background-color: rgba(207, 207, 203, 0.199);
  padding: 1em;
}

.BOMh1 {
  /* background-color: rgba(207, 207, 203, 0.199); */
  /* padding: 1em; */
  text-align: right;
}

.BOMtext {
  /* background-color: rgba(207, 207, 203, 0.199); */
  /* padding: 1em; */
  text-align: right;
}

.BOMbook {
  max-width: 9vw;
  border: 1px solid;
  box-shadow: -4px 4px 0px 0px rgba(0,0,0,0.9);
}

.BOMbook:hover {
  transform: scale(1.1);

}

.CTAcontent {
  padding: 1em 3em;
}

.bookcover {
  height: 25vh;
  box-shadow: -4px 4px 0px 0px black;
}

.seeallbooks {
  display : inline-flex;
  padding: 0.5em;
  height: 45vh;
  text-align: center;
}

.seeallbooksbox {
  background-color:  rgba(207, 207, 203, 0.082);
  box-shadow: rgba(174, 174, 194, 0.649) 0px 1px 3px, rgba(0, 0, 0, 0.0198) 0px 1px 0px;
  width: 25vw;
  height: 38vh;
  padding: 1em 0;
}

footer {
  text-align: center;
  padding: 2em 0;
}

.productSearcher {
  display: flex;
  justify-content: space-around;
  padding: 1em 0;
}

.individual-bookbox {
  width : 64vw;
  display : flex;
  align-items: center; 
  background-color:  rgba(207, 207, 203, 0.082);
  box-shadow: rgba(174, 174, 194, 0.649) 0px 1px 3px, rgba(0, 0, 0, 0.0198) 0px 1px 0px;
    /* margin : 3em; */
  /* margin-right : 7em; */
  padding: 1em 0 1em 15em;
}

.individual-bookcover {
  width : 15vw;
  margin-right: 2em;
  box-shadow: -4px 4px 0px 0px rgba(0,0,0,0.9);
}

h1 > .ibook  {
  font-size: 6vh;
}

p, .ibook {
  font-size: 2vh;
}

.anon-profile {
  height: 15vh;
}

.signup { 
  text-align: center;
  margin: 3em;
}

/* ===========================  Payment ================================ */
.example {
	display: flex;
	align-items: center;
	justify-content: center;
}

.checkout {
/*  width: 30%;*/
  border: 1px solid gray;
  border-radius: 10px;
  padding: 2%;
}

.split-form {
    display: flex;
    justify-content: space-around;
    padding: 0.5em 3em;
}

.example button {
    display: block;
    width: 100%;
    height: 37px;
    background-color: #6772e5;
    border-radius: 2px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

.example .error {
    color: #c23d4b;
    margin: 5px 0;
}

.mockInput {
  box-shadow: rgba(174, 174, 194, 0.649) 0px 1px 3px, rgba(0, 0, 0, 0.0198) 0px 1px 0px;
  padding: 1px;
  border-radius: 4px;
  width: 150px;
  margin: 16px;
}
/* ===================================================================== */

.basketbox {
  display: flex;
}

.bookcoverbasket {
  width : 8vw;
  padding-right: 1em;
  padding-bottom: 1em;
}

h6 {
  color : white;
}

/* =============================== PRODUCT INDIVIDUAL PAGE ====================================== */
.writerev-container {
  padding: 1em 5em;
}

.review-container input {
  width: 25vw;
  height: 10vh;
  padding: 10px 14px;
}

.condor {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 0%;
  background-image: linear-gradient(rgba(0, 0, 0,0), rgba(0, 0, 0,0) ), url(images/animals/condor.jpg);
  background-size: 18vh;
}

.review-section {
  display: grid;
  grid-template-columns: 60% 40%;
  padding-top: 2em;
}

/* =============================  SIGN IN AND LOGIN ====================================== */

.animalsml {
  width: 8vw;
}

/* ================================ MEMBERS/ADMIN PAGE ===================================== */

.memberpage {
  display: flex;
}

.memberpic {
  height: 15vh;
}

.memberinfo {
  margin-left: 3em;
}

.animalBox {
  text-align: center;
}
.animallrg {
  width: 20vw;
}

.admindashboard {
  display: flex;
}

.memberReview {
  display: flex;
}

/* ================================ ABOUT ===================================== */

.animalBox2 {
  text-align: center;
  padding: 4em;
}